.container{
    /* width: 1200px;
    margin-left: calc(50% - 600px); */
    width: 900px;
    margin-left: calc(50% - 450px);
    /* for half screen develop only*/
    text-align: center;
}

.container.long{
    width: 100%;
    margin-left: 0;
}