/* base */
@import '../base/base.css';
@import '../base/layout.css';
/* 3rd-party */
@import '../3rd-party/font-awesome.min.css';
/* components */
@import '../components/button.css';
@import '../components/lang.css';
@import '../components/search.css';


/* Custom style below this comment line */

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    user-select: none;
}

.logo {
    font-size: 30px;
    height: 1.5em;
    line-height: 1.5em;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

.logo > img {
    height: 100%;
    float: left;
}

.fa-heart,
.fa-shopping-cart {
    color: inherit;
    text-decoration: none;
}

.log-in {
    color: inherit;
    text-decoration: none;
}

.header-menu {
    height: 2.5em;
    display: flex;
    align-items: center;
    gap: 0.6em;
    font-size: 16px;
}

.h-m-item {
    color: #fff;
    text-decoration: none;
    font-size: inherit;
    line-height: 1em;
}

.advert-bar {
    width: 100%;
    height: 100px;
    display: flex;
}

.advert-bar > img:first-child {
    flex-grow: 2;
}